@import url(reset.css);
@import url(font.css);

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

main {
  justify-items: center;
}

.login-container {
  display: flex;
  width: 70vw;
  max-width: 900px;
  height: 60vh;
  margin: 120px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  background-color: #ffe2a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 40px; */
}

.login-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 36px;
}

.login-form input {
  padding: 16px;
  border: 2px solid #8faaed;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.btn {
  padding: 14px;
  font-size: 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.submit-btn-login {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

.login {
  background-color: #8faaed;
  color: white;
  font-weight: bold;
}

.join {
  background-color: #c7d7ff;
  color: #4d6ebd;
  font-weight: bold;
}

.join a {
  text-decoration: none;
  color: #555;
}

.find-info {
  margin-top: 12px;
  text-align: center;
  font-size: 13px;
  color: #999;
}

.find-info a {
  color: #999;
  text-decoration: none;
  margin: 0 4px;
}

/* 회원가입 */

.signup-container {
  width: 60vw;
  max-width: 700px;
  margin: 120px auto;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.signup-container img {
  width: 150px;
  margin-bottom: 18px;
}

.welcome-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 32px;
  border-top: 1px solid #f0b03e;
  padding-top: 12px;
}

.signup-form .input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #7d9ded;
  margin-bottom: 6px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 2px solid #adc5f6;
  border-radius: 12px;
  outline: none;
  background-color: #fff;
}

.id-row {
  display: flex;
  gap: 8px;
}

.id-row input {
  flex: 1;
}

.check-btn {
  padding: 14px;
  border: none;
  background-color: #8faaed;
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

.check-btn:hover {
  background-color: #809ee3;
}

.email-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.email-row input {
  width: 40%;
}

.at {
  font-size: 24px;
  color: #7d9ded;
}

.email-row select {
  flex: 1;
  padding: 14px;
  font-size: 14px;
  border: 2px solid #adc5f6;
  border-radius: 12px;
}

.birth-row {
  display: flex;
  gap: 8px;
}

.birth-row input,
.birth-row select {
  flex: 1;
}

.submit-btn {
  width: 100%;
  padding: 16px;
  margin-top: 24px;
  background-color: #fcb400;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d49905;
}
