@import url(reset.css);
@import url(font.css);

.nav-login {
  box-shadow: 0px 1px 5px #555;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;
  border-bottom: 1px solid #eee;
}

.logo {
  width: 100px;
  height: 60px;
}
.logo img {
  width: 100px;
  transform: translateY(30%);
}

.search-bar {
  flex: 1;
  display: flex;
  margin: 0 24px;
  min-width: 300px;
}

.search-bar input {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #ccc;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  outline: none;
}

.search-bar img {
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  padding: 0px 0px 0px 16px;
  cursor: pointer;
}

.nav-menu-login {
  margin-left: 24px;
  font-size: 16px;
}

.nav-menu-login ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav-menu-login ul > li > a {
  text-decoration-line: none;
  color: #333;
  font-weight: 500;
}
