@import url(./reset.css);
@import url(./font.css);

.product {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
}

.product-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.image-box {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #ddd;
  /* 나중에 이미지가 들어가도록 수정 */
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.product-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 400p x;
}

.change-button {
  width: 100%;
  height: 51px;
  padding: 15px;
  background-color: #ffb800;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.product-info h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
}

.label-info {
  background-color: #ffb800;
  border: none;
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  cursor: default;
}

.info-area {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.button-box {
  display: flex;
  gap: 16px;
  height: 51px;
}

.chat-button {
  flex: 4;
  height: 51px;
  padding: 15px;
  background-color: #ffb800;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.like-button {
  flex: 1;
  background-color: #ffb800;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.like-button img {
  width: 30px;
}

.report-button {
  flex: 1;
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.info-box {
  margin: 30px;
  border: 2px solid #ffb800;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 20px;
}

.seller-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.exchange-stats {
  text-align: right;
  font-size: 14px;
}

.exchange-stats p {
  font-size: 16px;
  text-align: end;
  margin-top: 5px;
}
