<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>footer</title>
  </head>
  <body>
    <footer class="site-footer">
      <hr />

      <div class="footer-links">
        <ul>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">개인정보 처리방침</a></li>
          <li><a href="#">사업자 정보</a></li>
          <li><a href="#">인스타그램</a></li>
          <li><a href="#">페이스북</a></li>
        </ul>
      </div>

      <div class="footer-info">
        <p>
          (주) 게티마켓 / 소재지: 여기가 어디구 지금이 몇시구 / 사업자 등록번호:
          111-1111-1111 / 고객센터: 000-0000-0000 / support@getti.com
        </p>
        <p>Copyright © GettiMarket Inc. All right reserved</p>
      </div>
    </footer>
  </body>
</html>
