<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header class="nav-login">
      <div class="logo">
        <img src="../images/Getti_logo.svg" alt="Getti" />
      </div>

      <div class="search-bar">
        <img src="../images/icons/search.svg" alt="searchicon" />
        <input type="text" placeholder="찾는 상품이 있다면 일단 검색해봐요!" />
      </div>

      <nav class="nav-menu-login">
        <ul>
          <li><a href="#">홈</a></li>
          <li><a href="#">교환 올리기</a></li>
          <li><a href="#">마이 페이지</a></li>
          <li><a href="#">채팅 목록</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
